@media (max-width: 1499px) {
  .about {
    height: 1000px;
  }
  .contact__form {
    width: 40%;
  }
  .news__img {
    height: auto;
  }
  .order__form {
    margin-top: 5%;
    flex-direction: column;
  }
}
@media (max-width: 1399px) {
  .about {
    height: 1100px;
  }
  .header__container {
    width: 95%;
  }
  .home__container {
    width: 90%;
  }
  .gallery__img {
    width: 230px;
    height: 304px;
  }
}

@media (max-width: 1220px) {
  .about__container {
    width: 95%;
  }
  .gallery__img {
    width: 200px;
    height: 284px;
  }
  .feedback__container {
    width: 90%;
  }
  .news__img {
    width: 300px;
  }
  .navigation__list {
    font-size: 18px;
  }

  .socials__list {
    width: 200px;
  }

  .socials__img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 1131px) {
  .info__title {
    font-size: 30px;
  }
  .info__text {
    font-size: 16px;
  }
  .news__img {
    width: 290px;
  }
}

@media (max-width: 1118px) {
  .bonds {
    width: 1000px;
  }
  .bonds__text {
    font-size: 18px;
  }
}
@media (max-width: 1060px) {
  .header {
    width: 100vw;
  }
  .header__container {
    width: 87%;
  }
  .burger {
    display: flex;
    width: 40px;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .stick {
    height: 13%;
    width: 100%;
    background: #000;
    border-radius: 10px;
  }
  .stick::after,
  .stick::before {
    height: 13%;
    width: 100%;
    content: "";
    border-radius: 10px;
    background: #000;
    position: absolute;
  }
  .stick::before {
    content: "";
    transform: translateY(10px);
    transition: all 0.5s;
  }
  .stick::after {
    content: "";
    transform: translateY(-10px);
    transition: all 0.5s;
  }

  .stick-active {
    height: 40%;
    width: 100%;
    transform: translateX(50px);
    background: transparent;
    transition: all 0.5s;
  }
  .stick-active::before,
  .stick-active::after {
    height: 15%;
    width: 100%;
    background: #000;
  }
  .stick-active::before {
    transform: rotate(45deg) translate(-35px, 35px);
    transition: all 0.5s;
  }
  .stick-active::after {
    transform: rotate(-45deg) translate(-35px, -35px);
    transition: all 0.5s;
  }

  .navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    margin-top: 100px;
    transition: left 0.3s ease 0s;
  }

  .navigation::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
  }

  .navigation__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .navigation__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 24px;
  }

  .navigation__list {
    font-size: 16px;
    flex-direction: column;
    text-align: left;
    margin-top: -80px;
  }

  .navigation__link__home,
  .navigation__link__about,
  .navigation__link__products,
  .navigation__link__gallery,
  .navigation__link__faq,
  .navigation__link__feedbacks,
  .navigation__link__news,
  .navigation__link__contact {
    color: #fff;
    transition: all 0.3s;
  }

  .logo {
    width: 140px;
    height: 90px;
  }
  .header {
    height: 100px;
  }

  .home__video {
    height: 60%;
    margin-top: 50px;
  }
  .gallery {
    height: 980px;
  }
  .gallery__container {
    height: 750px;
    row-gap: 10px;
  }
  .gallery__slider {
    height: 700px;
  }
  .gallery__list-first,
  .gallery__list-second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    width: 50%;
    transition: all 1s;
    position: absolute;
    top: 5%;
    left: 25%;
  }
  .gallery__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gallery__left-button,
  .gallery__right-button {
    width: 50px;
    height: 50px;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
  }
  .footer {
    height: 120px;
  }
  .socials__title {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .socials__list {
    width: 250px;
  }

  .socials__img {
    width: 50px;
  }
}

@media (max-width: 1040px) {
  .card {
    width: 60%;
  }
  .card__arrow__left {
    width: 30px;
    height: 30px;
  }
  .card__arrow__right {
    width: 30px;
    height: 30px;
  }
  .bonds {
    width: 100%;
  }
  .bonds__circle {
    width: 90px;
    height: 90px;
  }
  .bonds__img {
    width: 50px;
    height: 88px;
  }
  .mark {
    width: 30px;
    height: 90px;
  }
  .contact__form {
    width: 60%;
  }
  .contact__side-left {
    height: auto;
    row-gap: 25px;
  }
  .contact__form {
    row-gap: 25px;
  }
  .contact__name,
  .contact__mail,
  .contact__phone {
    width: 420px;
    height: 70px;
    font-size: 17px;
  }
  .contact__textarea {
    width: 420px;
    font-size: 17px;
  }
  .contact__text {
    width: 723px;
  }

  .products {
    height: 1650px;
  }
  .products__container {
    height: 1500px;
  }
  .products__list {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    height: 100%;
  }
  .number {
    width: 130px;
  }
  .product {
    height: 45%;
  }

  .feedback {
    /* height: 1700px; */
  }
  .feedback__container {
    /* height: 1400px; */
  }

  .feedback__textarea {
    height: 250px;
    padding: 30px 30px 30px 30px;
  }
  .feedback__form {
    flex-direction: column;
    flex-flow: column-reverse;
    /* height: 580px; */
  }
  .feedback__reviews {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    margin-bottom: 4vh;
  }
  .review {
    height: auto;
    width: 45%;
  }
  .review__date {
    font-size: 10px;
    margin-bottom: 10px;
    line-height: 0;
  }
  .review__text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 15px;
  }
  .review__name {
    font-size: 10px;
    line-height: 0;
  }
  .stars {
    width: 30px;
    height: 34px;
  }

  .about {
    height: 1300px;
  }
  .about__container {
    height: 1000px;
    align-items: center;
  }
  .about__header {
    margin-bottom: 30px;
    width: 70%;
    height: auto;
  }
  .about__text {
    width: 100%;
    font-size: 16px;
  }
  .about__cards {
    align-items: center;

    height: 1000px;
  }

  .home {
    height: 1000px;
  }
  .home__container {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home__video {
    height: 50%;
    width: 535px;
  }
  .home__arrow {
    display: none;
  }
  .home__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 535px;
    height: 409px;
  }

  .home__info {
    height: 300px;
  }
  .feedback__textarea {
    width: 70%;
  }
  .feedback__name {
    width: 300px;
    height: 50px;
  }
}
@media (max-width: 950px) {
  .about__cards {
    height: 1100px;
  }
  .about {
    height: 1500px;
  }
  .about__container {
    height: 1100px;
    align-items: center;
  }
  .contact__text {
    width: auto;
  }
}
@media (max-width: 900px) {
  .faq__topic {
    font-size: 26px;
  }
}
@media (max-width: 820px) {
  .about__cards {
    height: 1200px;
  }
  .about {
    height: 1700px;
  }
  .about__container {
    height: 1200px;
    margin-top: -350px;
  }
  .about__header {
    margin-bottom: 10px;
  }
  .bonds__circle {
    width: 80px;
    height: 80px;
  }
  .about__text {
    text-align: justify;
  }
  .card__text {
    text-align: justify;
  }
  .review {
    width: 50%;
  }
  .bonds__img {
    width: 40px;
    height: 77px;
  }
  .bonds__text {
    font-size: 16px;
  }
  .gallery__list-first,
  .gallery__list-second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    width: 70%;
    transition: all 1s;
    position: absolute;
    top: 5%;
    left: 15%;
  }
  .gallery__right-button,
  .gallery__left-button {
    width: 45px;
    height: 45px;
  }
  .gallery__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 740px) {
  .feedback__star {
    width: 58px;
    height: 66px;
  }
  .about__container {
    width: 90%;
  }

  .card {
    width: 80%;
  }
}
@media (max-width: 725px) {
  .bonds {
    grid-template-columns: repeat(1, 3fr);
    height: auto;
    row-gap: 50px;
  }
  .bonds__circle {
    margin-bottom: 20px;
  }
  .bonds__text {
    font-size: 18px;
  }

  .contact__header {
    height: auto;
    width: 95%;
  }
  .review {
    width: 60%;
  }
}
@media (max-width: 625px) {
  .home__info {
    width: 100%;
  }
  .card {
    width: 90%;
    margin: 0px 10px 0px 10px;
  }
  button.order {
    width: 190px;
    height: 60px;
  }
  .home__buy-link:link,
  .home__buy-link:visited {
    padding: 13px 30px;
    font-size: 18px;
  }
  .gallery,
  .gallery__container {
    height: auto;
  }
  .gallery__container {
    margin: 50px 0px 50px 0px;
  }
  .gallery__slider {
    height: auto;
    margin: 3vh 0 3vh 0;
  }
  .gallery__bullets {
    width: 40vw;
  }
  .gallery__right-button,
  .gallery__left-button {
    opacity: 0;
    margin: 0;
  }
  .faq__title {
    margin-bottom: 50px;
  }
  .faq__topic {
    font-size: 22px;
  }
  .faq__paragraph {
    font-size: 16px;
  }
  .faq__button,
  .faq__button__hide {
    width: 180px;
    height: 60px;
    margin-top: 20px;
  }
  .feedback__side-left {
    overflow: visible;
    /* row-gap: 30px; */
    row-gap: 10px;
  }
  .form__button {
    width: 180px;
    height: 60px;
  }
  .feedback__star {
    width: 48px;
    height: 56px;
  }
  .review {
    width: 70%;
  }
  .feedback__textarea {
    width: 80vw;
    font-size: 18px;
    padding: 30px 30px 100px 30px;
  }
  .feedback__name {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 20px 0px 20px 20px;
    border-radius: 15px;
  }
  .feedback__view-all {
    width: 180px;
    height: 60px;
  }
  .gallery__img {
    width: 350px;
    height: 440px;
  }
  .info__title {
    font-size: 32px;
  }
  .button__news__button {
    width: 180px;
    height: 60px;
  }
  .contact__form {
    row-gap: 10px;
    width: 80%;
  }
  .contact__side-left {
    row-gap: 10px;
  }
  .contact__button {
    height: 60px;
  }

  .contact__textarea {
    width: 350px;
    height: 200px;
    padding: 5px 30px 5px 10px;
  }
  .contact__name {
    width: 350px;
    height: 40px;
    padding: 5px 30px 5px 10px;

    border-radius: 15px;
  }
  .contact__mail {
    width: 350px;
    height: 40px;
    padding: 5px 30px 5px 10px;

    border-radius: 15px;
  }
  .contact__phone {
    width: 350px;
    height: 40px;
    padding: 5px 30px 5px 10px;

    border-radius: 15px;
  }
}
@media (max-width: 540px) {
  .home__title-1 {
    font-size: 60px;
  }
  .home__title-3 {
    font-size: 26px;
  }
  .home__video {
    width: 100%;
  }
  .card__arrow__right,
  .card__arrow__left {
    width: 30px;
    height: 30px;
  }
  p.content {
    font-size: 16px;
  }
  .faq__header {
    padding-bottom: 0px;
  }
  .review {
    width: 75%;
  }

  .about {
    height: 1900px;
  }
  .about__container {
    margin-top: -500px;
  }
}
@media (max-width: 510px) {
  .card__arrow__right,
  .card__arrow__left {
    width: 25px;
    height: 25px;
  }
  .info__title {
    font-size: 28px;
  }
  p.content {
    font-size: 14px;
  }

  .gallery__bullets {
    width: 45vw;
  }
  .review {
    width: 80%;
  }
}
@media (max-width: 465px) {
  .home__title-1 {
    font-size: 55px;
  }
  .home__title-3 {
    font-size: 24px;
  }
  .about {
    height: 2000px;
  }
  .about__container {
    margin-top: -700px;
  }
  .gallery__bullets {
    width: 50vw;
  }
  .review {
    width: 85%;
  }

  .faq__topic {
    font-size: 20px;
  }

  .feedback__textarea {
    font-size: 18px;
    padding: 20px 10px 100px 10px;
  }
  .gallery__img {
    width: 320px;
    height: 420px;
  }
  .info__title {
    font-size: 26px;
  }
}
@media (max-width: 433px) {
  .home__title-1 {
    font-size: 50px;
  }
  .home__title-3 {
    font-size: 22px;
  }
  .home__text {
    font-size: 16px;
    text-align: justify;
  }
  .about__container {
    margin-top: -780px;
  }
  .review {
    width: 90%;
  }

  .info__title {
    font-size: 24px;
  }
  .info__text {
    font-weight: 400;
  }
  .products__title,
  .news__title,
  .feedback__title,
  .faq__title,
  .gallery__title,
  .about__title {
    font-size: 32px;
  }
}

@media (max-width: 420px) {
  .about {
    height: 2100px;
  }
  .about__container {
    margin-top: -850px;
  }
  .about__title {
    margin-bottom: 10px;
  }

  .feed_form {
    height: 30%;
  }
  .review {
    width: 95%;
  }
  .contact__textarea {
    width: 320px;
    height: 190px;
    padding: 5px 20px 5px 10px;
    font-size: 16px;
  }
  .contact__name,
  .contact__mail,
  .contact__phone {
    width: 320px;
    height: 40px;
    padding: 5px 20px 5px 10px;
    font-size: 16px;
    border-radius: 15px;
  }
}
@media (max-width: 400px) {
  .about__title {
    font-size: 30px;
  }
  .about__text,
  .card__text,
  .faq__paragraph {
    font-size: 15px;
    line-height: 22px;
  }
  .faq__topic {
    font-size: 18px;
  }

  .card__title {
    font-size: 18px;
  }
  .gallery__img {
    width: 300px;
    height: 400px;
  }
  .contact__form {
    width: 90%;
  }
  .gallery__bullets {
    width: 55vw;
  }
  .review__text {
    font-size: 13px;
  }
  .info__title {
    font-size: 22px;
  }
  .info__text {
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .about__title {
    font-size: 28px;
  }
  .about {
    height: 2200px;
  }
  .about__container {
    margin-top: -900px;
  }
  .gallery__bullets {
    width: 60vw;
  }

  .info__title {
    font-size: 20px;
  }
}
@media (max-width: 352px) {
  .about__container {
    margin-top: -980px;
  }
  .review__text {
    font-size: 13px;
  }
  .feedback__name,
  .feedback__textarea {
    font-size: 16px;
  }
  .contact__textarea {
    width: 300px;
    height: 185px;
    padding: 5px 20px 5px 10px;
    font-size: 16px;
  }
  .contact__name,
  .contact__mail,
  .contact__phone {
    width: 300px;
    height: 35px;
    padding: 5px 20px 5px 10px;
    font-size: 16px;
    border-radius: 12px;
  }
}
@media (max-width: 350px) {
  .about__text,
  .card__text,
  .faq__paragraph {
    font-size: 14px;
    line-height: 22px;
  }
  .gallery__img {
    width: 280px;
    height: 380px;
  }
  .gallery__bullets {
    width: 65vw;
  }
}
@media (max-width: 330px) {
  .feedback__name,
  .feedback__textarea {
    font-size: 15px;
  }
  .contact__textarea {
    width: 280px;
    height: 170px;
    padding: 5px 15px 5px 10px;
    font-size: 15px;
  }
  .contact__name,
  .contact__mail,
  .contact__phone {
    width: 280px;
    height: 35px;
    padding: 5px 15px 5px 10px;
    font-size: 15px;
    border-radius: 12px;
  }
  .home__title-1 {
    font-size: 40px;
  }
  .home__title-3 {
    font-size: 20px;
  }
  .home__text {
    font-size: 15px;
  }
  .review {
    width: 80%;
  }
  .info__title {
    font-size: 19px;
  }
  .info__text {
    font-size: 14px;
    line-height: 22px;
  }
  .about__text,
  .card__text,
  .faq__paragraph {
    font-size: 14px;
    line-height: 20px;
  }
}